$this: 'c-heading' !global;

.#{$this} {
  padding: 10px;
  text-align: center;
  background-color: $BLACK;

  @include breakpoint('>=', 'ms') {
    padding: 40px;
  }

  &__text {
    margin: 0;
    font-family: $FONT_REGULAR;
    font-size: 30px;
    color: $WHITE;

    @include breakpoint('>=', 'ms') {
      font-size: 40px;
    }
  }
}
