$this: 'c-item' !global;

.#{$this} {
  display: flex;
  align-items: center;

  &--completed {
    @extend .#{$this};
    .#{$this}__circle {
      background-color: $BLACK;

      &::before {
        display: block;
      }
    }

    .#{$this}__text {
      color: $GREY;
      text-decoration: line-through;
    }
  }

  &__circle {
    position: relative;
    width: 10px;
    height: 20px;
    margin-right: 20px;
    background-color: $WHITE;
    border: 1px solid $BLACK;
    cursor: pointer;

    &::before {
      display: none;
      position: absolute;
      top: 2px;
      right: 8px;
      width: 5px;
      height: 11px;
      border-right: 2px solid $WHITE;
      border-bottom: 2px solid $WHITE;
      transform: rotate(45deg);
      content: '';
    }
  }

  &__cross {
    position: relative;
    width: 22px;
    height: 22px;
    padding: 0;
    margin-left: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 15px;
      width: 2px;
      height: 22px;
      background-color: $DARK_GREY;
      content: '';
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__text {
    font-family: $FONT_REGULAR;
    font-size: 18px;
  }
}
